@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&subset=latin-ext');
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100vh;
}
body {
  font-family: 'Work Sans', sans-serif;
  color: #000;
  width: 100%;
  background-color: #000;
  background-image: url('../img/back.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  word-wrap: break-word;
}
body a {
  color: #2b0f01;
}
body a:hover,
body a:active,
body a.active {
  color: #ffae42 !important;
  text-decoration: none;
}
body a:visited {
  color: #2b0f01;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #fff;
  font-weight: bold;
}
body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body ul li {
  display: inline-block;
}
body .form-control:focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #left {
  display: table-cell;
  height: 100%;
  width: 300px;
  position: relative;
  vertical-align: top;
}
body #left #logo {
  height: 100px;
  background: url('../img/logo_lg_col.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #left #panel {
  background-color: rgba(255,255,255,0.4);
  padding: 1em;
}
body #left #panel .block {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 2em;
  margin-left: -1em;
  margin-right: -1em;
}
body #left #panel #topnavi {
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
}
body #left #panel #topnavi li {
  display: inline-block;
  width: 49%;
}
body #left #panel #topnavi li a {
  display: block;
  padding: .25em .5em;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
}
body #left #panel #topnavi li a.login {
  text-transform: uppercase;
  background-color: #ffae42;
}
body #left #panel #topnavi li a.login:hover {
  color: #ffae42;
  background-color: #fff;
}
body #left #panel #topnavi #profile {
  text-align: left;
}
body #left #panel #topnavi #profile #profileImage {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-border-radius: 99%;
  -moz-border-radius: 99%;
  border-radius: 99%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 3px solid #fff;
}
body #left #panel #topnavi #profile #profileRight {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
body #left #panel #topnavi #profile #profileRight #profileName {
  font-weight: 600;
}
body #left #panel #topnavi #profile #profileRight #profileLinks a {
  color: #fff;
}
body #left #panel #navi a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: .25em .5em;
}
body #left #panel #navi a.active {
  font-weight: bold;
}
body #left #panel #navi #filter {
  text-align: right;
  border-bottom: 1px solid #000;
  padding-bottom: .25em;
  margin-bottom: .75em;
}
body #left #panel #navi #navigation li {
  vertical-align: top;
}
body #left #panel #navi #navigation li a {
  padding: .25em .25em;
  display: block;
}
body #left #panel #navi #navigation li a.home span {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/diceeye_black.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #left #panel #searchbox {
  padding: 2em 1em;
}
body #left #panel #searchbox #searchfield {
  position: relative;
}
body #left #panel #searchbox #searchfield #searchInput {
  padding-left: 2.75em;
  background-color: #d7d7d7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 1em;
}
body #left #panel #searchbox #searchfield #searchInput input {
  background-color: #d7d7d7;
}
body #left #panel #searchbox #searchfield #searchInput .ms-trigger {
  border-color: #b2b2b2;
}
body #left #panel #searchbox #searchfield #searchInput .ms-sel-item {
  background-color: #ffae42;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .25em .5em;
  font-size: 1em;
}
body #left #panel #searchbox #searchfield #searchInput .ms-sel-item .ms-close-btn {
  background-image: url('../img/icons/close.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #left #panel #searchbox #searchfield #searchInput.ms-ctn-focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #left #panel #searchbox #searchfield i {
  position: absolute;
  top: 5px;
  left: 7px;
  color: #8a8a8a;
  font-size: 1.5em;
}
body #left #panel #searchbox #keylist a {
  color: #2b0f01;
}
body #left #panel #breadcrumb li {
  text-transform: uppercase;
  text-align: right;
}
body #left #panel #breadcrumb li.current {
  font-weight: bold;
  color: #ffae42;
}
body #left #panel #breadcrumb li a {
  color: #000;
  font-weight: 500;
}
body #left #panel #breadcrumb li i {
  font-size: .75em;
}
body #left #panel #footernavi {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}
body #left #panel #footernavi li a {
  color: #fff;
  padding: 0 .25em;
  text-shadow: 0px 0px 3px #000000;
}
body #left #panel #copyright,
body #left #panel #info {
  color: #fff;
  text-shadow: 0px 0px 3px #000000;
  text-align: right;
  font-size: .9em;
}
body #left #panel #infolinks {
  font-size: .84em;
  color: #fff;
}
body #left #panel #infolinks a {
  color: #fff;
  padding: 0 .25em;
  text-decoration: underline;
  text-shadow: 0px 0px 3px #000000;
}
body #main {
  display: table-cell;
  padding: 2em 4em;
  color: #000;
}
body #main #mainInner.content {
  background-color: #fff;
  padding: 1em;
}
body #main #mainInner .addWrapper .add {
  color: #fff;
  text-align: center;
  border: 2px dashed #fff;
  margin-bottom: 2em;
  height: 276px;
  padding-top: 5em;
  background: none;
  background-color: rgba(255,255,255,0.25);
}
body #main #mainInner .addWrapper .add:last-child {
  margin: 0;
}
body #main #mainInner .addWrapper .add:hover {
  cursor: pointer;
  background-color: rgba(255,174,66,0.25);
  border-color: #ffae42;
  color: #ffae42;
}
body #main #mainInner .addWrapper .add .addIcon {
  font-size: 7em;
  line-height: 0;
}
body #main #mainInner .addWrapper .add .addText {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
body #main #mainInner .brick {
  width: 290px;
  padding: .5em;
}
body #main #mainInner .brick .brickInner {
  background-color: #fff;
  border: .3em solid #fff;
  position: relative;
  box-shadow: 0px 0px 10px 1px #000;
}
body #main #mainInner .brick .brickInner:hover {
  border-color: #ffae42;
}
body #main #mainInner .brick .brickInner:hover .iconbar {
  display: block;
}
body #main #mainInner .brick .brickInner .mapSetBack {
  border-bottom: 1px solid #d7d7d7;
}
body #main #mainInner .brick .brickInner .mapSetBack a {
  color: #8b8b8b;
  display: block;
  padding: .5em;
}
body #main #mainInner .brick .brickInner .mapSetBack a i {
  margin-right: .5em;
}
body #main #mainInner .brick .brickInner .mapSetThumb {
  height: 7.5em;
  background-color: #d7d7d7;
}
body #main #mainInner .brick .brickInner .mapSetThumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #main #mainInner .brick .brickInner .mapSetThumb.thumb-sm {
  display: inline-block;
  width: 49.2%;
}
body #main #mainInner .brick .brickInner .mapSetThumb.thumb-sm.first {
  margin-right: 1.5%;
}
body #main #mainInner .brick .brickInner .mapSetInfo {
  padding-left: 1.5em;
  padding-top: .125em;
}
body #main #mainInner .brick .brickInner .mapSetInfo span {
  font-weight: 800;
  display: block;
}
body #main #mainInner .brick .brickInner .mapSetInfo.thumb-xlg {
  padding: .5em 2.5em;
  text-align: center;
}
body #main #mainInner .brick .brickInner .mapSetInfo.thumb-lg {
  padding: 1em 2.5em;
}
body #main #mainInner .brick .brickInner .mapSetInfo.thumb-sm {
  display: inline-block;
  height: 7.5em;
  width: 49%;
  vertical-align: top;
}
body #main #mainInner .brick .brickInner .mapSetInfo a {
  color: #2b0f01;
  font-weight: 800;
  display: block;
  margin-top: .25em;
}
body #main #mainInner .brick .brickInner .mapSetName {
  padding: 1em 2.5em;
  text-align: center;
}
body #main #mainInner .brick .brickInner .mapSetName a,
body #main #mainInner .brick .brickInner .mapSetName span {
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .75em;
}
body #main #mainInner .brick .brickInner .mapSetName input {
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
body #main #mainInner .brick .brickInner .mapSetName i {
  position: absolute;
  z-index: 1;
  right: 0;
  top: .5em;
  color: #acacac;
  right: 1em;
  top: 1.5em;
}
body #main #mainInner .brick .brickInner .mapSetName i:hover {
  cursor: pointer;
}
body #main #mainInner .brick .brickInner .mapSetName i.fa-check {
  right: 1.25em;
}
body #main #mainInner .brick .brickInner .mapSetName i.fa-close {
  right: 0.25em;
}
body #main #mainInner .brick .brickInner .mapSetMove {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .75em .25em;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
body #main #mainInner .brick .brickInner .mapSetMove select {
  border: 1px solid #ccc;
  background-color: #d7d7d7;
  display: block;
  width: 100%;
  padding: .25em;
}
body #main #mainInner .brick .brickInner .mapSetMove select:focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #main #mainInner .brick .brickInner .mapLaunchEdit {
  display: block;
  padding: .75em .5em;
  border-top: 1px solid #d7d7d7;
}
body #main #mainInner .brick .brickInner .mapLaunchEdit span a {
  color: #000;
  font-weight: 500;
}
body #main #mainInner .brick .brickInner .mapSetActions {
  padding: .75em .5em;
}
body #main #mainInner .brick .brickInner .mapSetActions div {
  vertical-align: middle;
}
body #main #mainInner .brick .brickInner .mapSetActions div span {
  vertical-align: text-bottom;
}
body #main #mainInner .brick .brickInner .mapSetActions div i {
  font-size: 1.25em;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetPublic {
  padding: .25em .5em;
  color: #fff;
  background-color: #acacac;
  text-transform: uppercase;
  font-weight: 500;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetPublic.active {
  background-color: #ffae42;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetPublic:hover {
  cursor: pointer;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetPublic i {
  vertical-align: text-top;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetDelete {
  padding: .25em 0;
  color: #acacac;
  font-weight: 500;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetDelete:hover {
  cursor: pointer;
}
body #main #mainInner .brick .brickInner .mapSetActions .mapSetDelete span {
  margin-right: .5em;
  text-transform: uppercase;
}
body #main #mainInner .brick .brickInner .iconbar {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2.5em;
  background-color: #fff;
  display: none;
}
body #main #mainInner .brick .brickInner .iconbar .icon {
  width: 2.5em;
  height: 2.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
body #main #mainInner .brick .brickInner .iconbar .icon:hover {
  background-color: #ffae42;
}
body #main #mainInner .brick .brickInner .iconbar .icon:last-child {
  margin-bottom: 0;
}
body #main #mainInner .brick .brickInner .iconbar .icon-gem {
  background-image: url('../img/icons/gem.png');
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane {
  background-image: url('../img/icons/plane.png');
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane:hover .icons-social {
  display: block;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social {
  position: absolute;
  left: 2.5em;
  width: 144px;
  border: 2px solid #fff;
  display: none;
  margin-top: -2px;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .social-icon {
  float: left;
  width: 2.5em;
  height: 2.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .social-icon:hover {
  cursor: pointer;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-facebook {
  background-image: url('../img/icons/facebook.png');
  background-color: #3b5998;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-facebook:hover {
  background-color: #5f7ec1;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-twitter {
  background-image: url('../img/icons/twitter.png');
  background-color: #00aced;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-twitter:hover {
  background-color: #3bc9ff;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-pinterest {
  background-image: url('../img/icons/pinterest.png');
  background-color: #cb2027;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-pinterest:hover {
  background-color: #e45459;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-google {
  background-image: url('../img/icons/google_plus.png');
  background-color: #dd4b39;
}
body #main #mainInner .brick .brickInner .iconbar .icon-plane .icons-social .icon-google:hover {
  background-color: #e8867a;
}
body #main #mainInner .brick .brickInner .iconbar .icon-book {
  background-image: url('../img/icons/book.png');
}
body #main #mainInner .brick .brickInner .iconbar .icon-cloud {
  background-image: url('../img/icons/cloud.png');
}
body #main #mainInner .brick .brickInner .iconbar .icon-arrow {
  background-image: url('../img/icons/arrow.png');
}
body #main #mainInner .brick .brickInner .mapImg {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #main #mainInner .brick .brickInner .owner {
  text-align: right;
  padding: .25em;
}
body #main #mainInner .brick .brickInner .owner .ownerName {
  display: inline-block;
  vertical-align: top;
  font-size: .8em;
  font-weight: 500;
  color: #666;
}
body #main #mainInner .brick .brickInner .owner .ownerImg {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-border-radius: 99%;
  -moz-border-radius: 99%;
  border-radius: 99%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 3px solid #fff;
  margin-top: -20px;
}
body #main #mainInner .brick .brickInner .mapDescription {
  padding: .5em 3.5em 1em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle a {
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .75em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle input {
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i {
  position: absolute;
  z-index: 1;
  right: 0;
  top: .5em;
  color: #acacac;
  right: -1.5em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i:hover {
  cursor: pointer;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i.fa-check {
  right: 1.25em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i.fa-close {
  right: 0.25em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i.fa-check {
  right: -1.5em;
}
body #main #mainInner .brick .brickInner .mapDescription .mapTitle i.fa-close {
  right: -2.5em;
}
body #main #mainInner .brick .brickInner .mapText {
  margin-bottom: 1.5em;
}
body #main #mainInner .brick .brickInner .mapTags {
  margin-bottom: 1em;
}
body #main #mainInner .brick .brickInner .mapTags a {
  color: #2b0f01;
}
body #main #mainInner .brick .brickInner .mapInfo {
  color: #666;
}
body #mapDetails .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body #mapDetails .modal-content .modal-header {
  padding-bottom: .5em;
  padding-top: .75em;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: .5em;
}
body #mapDetails .modal-content .modal-header .mapDetailName {
  display: inline-block;
  width: 46%;
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
}
body #mapDetails .modal-content .modal-header .mapDetailName.pr {
  padding-right: 2em;
}
body #mapDetails .modal-content .modal-header .mapDetailName input {
  color: #2b0f01;
  font-weight: bold;
  font-size: 1.5em;
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
body #mapDetails .modal-content .modal-header .mapDetailName i {
  position: absolute;
  z-index: 1;
  right: 0;
  top: .5em;
  color: #acacac;
  top: 5px;
  font-size: .7em;
}
body #mapDetails .modal-content .modal-header .mapDetailName i:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-header .mapDetailName i.fa-check {
  right: 1.25em;
}
body #mapDetails .modal-content .modal-header .mapDetailName i.fa-close {
  right: 0.25em;
}
body #mapDetails .modal-content .modal-header .mapDetailOwner {
  width: 46%;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
}
body #mapDetails .modal-content .modal-header .mapDetailOwner .mapDetailOwnerName {
  display: inline-block;
  font-size: .8em;
  vertical-align: super;
}
body #mapDetails .modal-content .modal-header .mapDetailOwner .mapDetailOwnerImage {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-border-radius: 99%;
  -moz-border-radius: 99%;
  border-radius: 99%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 3px solid #fff;
}
body #mapDetails .modal-content .modal-body {
  padding: 0;
}
body #mapDetails .modal-content .modal-body .iconbar {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2.5em;
  background-color: #fff;
  display: none;
  display: block;
  background: none;
}
body #mapDetails .modal-content .modal-body .iconbar .icon {
  width: 2.5em;
  height: 2.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
body #mapDetails .modal-content .modal-body .iconbar .icon:hover {
  background-color: #ffae42;
}
body #mapDetails .modal-content .modal-body .iconbar .icon:last-child {
  margin-bottom: 0;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-gem {
  background-image: url('../img/icons/gem.png');
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane {
  background-image: url('../img/icons/plane.png');
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane:hover .icons-social {
  display: block;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social {
  position: absolute;
  left: 2.5em;
  width: 144px;
  border: 2px solid #fff;
  display: none;
  margin-top: -2px;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .social-icon {
  float: left;
  width: 2.5em;
  height: 2.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .social-icon:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-facebook {
  background-image: url('../img/icons/facebook.png');
  background-color: #3b5998;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-facebook:hover {
  background-color: #5f7ec1;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-twitter {
  background-image: url('../img/icons/twitter.png');
  background-color: #00aced;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-twitter:hover {
  background-color: #3bc9ff;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-pinterest {
  background-image: url('../img/icons/pinterest.png');
  background-color: #cb2027;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-pinterest:hover {
  background-color: #e45459;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-google {
  background-image: url('../img/icons/google_plus.png');
  background-color: #dd4b39;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-plane .icons-social .icon-google:hover {
  background-color: #e8867a;
}
body #mapDetails .modal-content .modal-body .iconbar .icon-book {
  background-image: url('../img/icons/book.png');
}
body #mapDetails .modal-content .modal-body .iconbar .icon-cloud {
  background-image: url('../img/icons/cloud.png');
}
body #mapDetails .modal-content .modal-body .iconbar .icon-arrow {
  background-image: url('../img/icons/arrow.png');
}
body #mapDetails .modal-content .modal-body .mapDetailImage {
  width: 100%;
  height: auto;
  min-height: 217px;
}
body #mapDetails .modal-content .modal-body .mapDetailImage .mapDetailImageInner {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription {
  display: table;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft {
  display: table-cell;
  width: 35%;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft > div {
  background-color: #e9e9e9;
  background-color: #e4e4e4;
  padding: .75em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop {
  margin-bottom: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop select {
  border: 1px solid #ccc;
  background-color: #d7d7d7;
  display: block;
  width: 100%;
  padding: .25em 1em !important;
  color: #000;
  background-color: #fff;
  padding-left: .25em !important;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapLaunchEdit {
  border-top: 1px solid #fff;
  padding-top: .75em;
  padding-bottom: .75em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapLaunchEdit a {
  color: #000;
  font-weight: 500;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailMove {
  padding-top: .75em;
  padding-bottom: .75em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions {
  padding: .75em 0;
  padding-bottom: 0;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailPublic {
  padding: .25em .5em;
  color: #fff;
  background-color: #acacac;
  text-transform: uppercase;
  font-weight: 500;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailPublic.active {
  background-color: #ffae42;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailPublic:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailPublic i {
  vertical-align: text-top;
  font-size: 1.25em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailDelete {
  padding: .25em 0;
  color: #a4a4a4;
  font-weight: 500;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailDelete:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftTop .mapDetailActions .mapDetailDelete span {
  margin-right: .5em;
  text-transform: uppercase;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom > div {
  padding-top: .5em;
  margin-top: .5em;
  border-top: 1px solid #fff;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom > div > i {
  position: absolute;
  z-index: 1;
  right: 0;
  top: .5em;
  color: #acacac;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom > div > i:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom > div > i.fa-check {
  right: 1.25em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom > div > i.fa-close {
  right: 0.25em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom .pr {
  padding-right: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom textarea,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput {
  margin-top: 1.5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput {
  padding-left: 2.75em;
  background-color: #d7d7d7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 1em;
  padding-left: 12px;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput input {
  background-color: #d7d7d7;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput .ms-trigger {
  border-color: #b2b2b2;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput .ms-sel-item {
  background-color: #ffae42;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .25em .5em;
  font-size: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput .ms-sel-item .ms-close-btn {
  background-image: url('../img/icons/close.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom #tagsInput.ms-ctn-focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom .mapDetailsDescriptionTags {
  margin-top: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionLeft .mapDetailsDescriptionLeftBottom .mapDetailsDescriptionTags a {
  color: #2b0f01;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight {
  display: table-cell;
  width: 65%;
  vertical-align: top;
  background-image: url('../img/notes_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Libre Baskerville';
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes {
  padding: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_head {
  color: #2b0f01;
  font-weight: bold;
  margin-top: 1em;
  border-bottom: 2px solid #ffae42;
  margin-bottom: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_head:hover {
  cursor: pointer;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_head .dmn_room_nr {
  margin-right: .5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content {
  display: none;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content > div {
  margin-top: 1em;
  margin-bottom: 1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_quote {
  background-color: #dfcfb8;
  padding: 1em;
  box-shadow: 0px 0px 10px 3px #666;
  font-style: italic;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_quote:before {
  content: "";
  display: block;
  width: auto;
  height: 10px;
  background-image: url('../img/quote_top.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_quote:after {
  content: "";
  display: block;
  width: auto;
  height: 10px;
  background-image: url('../img/quote_bottom.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay {
  background-color: rgba(102,102,102,0.3);
  padding: 1em;
  padding-left: 2em;
  margin: 0;
  margin-left: -1em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .dmn_descr {
  padding-left: 48px;
  font-style: italic;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .icon-room {
  background-image: url('../img/icons/rooms_notes.png');
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .icon-props {
  background-image: url('../img/icons/props_notes.png');
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .icon-doors {
  background-image: url('../img/icons/doors_notes.png');
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .underlay .icon-traps {
  background-image: url('../img/icons/traps_notes.png');
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_images .dmn_room_img {
  margin-bottom: .5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_images .dmn_room_img .dmn_img_wrapper {
  padding: .125em;
  border: 1px dashed #333;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_images .dmn_room_img .dmn_img_wrapper img {
  width: 100%;
  border: 1px solid #333;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_images .dmn_room_img .dmn_img_name {
  font-style: italic;
  text-align: center;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .dmn_subtitle {
  color: #2b0f01;
  font-weight: bold;
  margin-bottom: .5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(46,175,150,0.25);
  border: none;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > tbody > tr > td,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > tbody > tr > th,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > tfoot > tr > td,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > tfoot > tr > th,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > thead > tr > td,
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsDescriptionRight .mapDetailsDescriptionDMNotes .dmn_room_content .dmn_room_additional .table > thead > tr > th {
  padding: .25em;
  vertical-align: top;
  border-top: none;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlayBG {
  background-color: rgbs(0,0,0,.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay {
  display: table;
  background-color: #ffae42;
  padding: 1em 2em;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayLeft {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: top;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayLeft .mapDetailsOverlayInfo {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: .5em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayLeft .mapDetailsOverlayButton a {
  display: block;
  border: 1px solid #394e51;
  color: #fff;
  background-color: #394e51;
  background: -webkit-gradient(linear,left top,left bottom,from(#394e51),to(#64af81));
  background: -webkit-linear-gradient(top,#394e51,#64af81);
  background: -moz-linear-gradient(top,#394e51,#64af81);
  background: -ms-linear-gradient(top,#394e51,#64af81);
  background: -o-linear-gradient(top,#394e51,#64af81);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .75em 1em;
  font-weight: bold;
  font-size: 1.25em;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayLeft .mapDetailsOverlayButton a:hover {
  background-color: #64af81;
  background: -webkit-gradient(linear,left top,left bottom,from(#64af81),to(#394e51));
  background: -webkit-linear-gradient(top,#64af81,#394e51);
  background: -moz-linear-gradient(top,#64af81,#394e51);
  background: -ms-linear-gradient(top,#64af81,#394e51);
  background: -o-linear-gradient(top,#64af81,#394e51);
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayRight {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
body #mapDetails .modal-content .modal-body .mapDetailDescription .mapDetailsOverlay .mapDetailsOverlayRight .mapDetailsOverlayText {
  padding-left: 1em;
  color: #fff;
  font-weight: bold;
}
body #createFolder .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body #createFolder .modal-content .modal-body input {
  border: 1px solid #ccc;
  background-color: #d7d7d7;
  display: block;
  width: 100%;
  padding: .25em 1em !important;
  color: #000;
}
body #createFolder .modal-content .modal-body input:focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #createFolder .modal-content .modal-body > button {
  background-color: #ffae42;
  color: #fff;
  text-transform: uppercase;
  padding: .25em 1.5em;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: .5em;
}
body #createFolder .modal-content .modal-body > button:hover {
  background-color: #ffcf8f;
}
body #createMap .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body #createMap .modal-content .modal-body input,
body #createMap .modal-content .modal-body select {
  border: 1px solid #ccc;
  background-color: #d7d7d7;
  display: block;
  width: 100%;
  padding: .25em 1em !important;
  color: #000;
}
body #createMap .modal-content .modal-body input:focus,
body #createMap .modal-content .modal-body select:focus {
  border-color: #ffae42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,174,66,0.6);
}
body #createMap .modal-content .modal-body .modalMapProperties {
  display: table;
  width: 100%;
}
body #createMap .modal-content .modal-body .modalMapProperties input,
body #createMap .modal-content .modal-body .modalMapProperties select {
  display: inline-block;
  width: 70%;
}
body #createMap .modal-content .modal-body .modalMapProperties input {
  margin-left: .5em;
  text-align: center;
}
body #createMap .modal-content .modal-body .modalMapProperties select {
  padding: .25em !important;
}
body #createMap .modal-content .modal-body .modalMapProperties > div {
  display: table-row;
  width: 100%;
}
body #createMap .modal-content .modal-body .modalMapProperties > div > div {
  display: table-cell;
  width: 33%;
  padding-top: 1em;
}
body #createMap .modal-content .modal-body .modalMapProperties .modalMapPropertiesWidth,
body #createMap .modal-content .modal-body .modalMapProperties .modalMapPropertiesHeight {
  text-align: right;
}
body #createMap .modal-content .modal-body > button {
  background-color: #ffae42;
  color: #fff;
  text-transform: uppercase;
  padding: .25em 1.5em;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: .5em;
}
body #createMap .modal-content .modal-body > button:hover {
  background-color: #ffcf8f;
}
