@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&subset=latin-ext');

/* ------------------------------------ VARS */
@color-main: #ffae42;
@color-main-editor: #a4a4a4;
@color-text: #000;
//@color-title: #623206;
@color-title: #2b0f01;
@color-grey: #d7d7d7;
@color-quote: #dfcfb8;

@facebook: #3b5998;
@twitter: #00aced;
@pinterest: #cb2027;
@googleplus: #dd4b39;
@email: #000;

@sidebarWidth: 300px;
@brickWidth: 300px;
@brickWidth: 290px;

@icon-size: 32px;

/* ------------------------------------ MIX INS */
.bgImgContain(){
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.bgImgCover(){
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title(){
	color: @color-title;
	font-weight: bold;
	font-size: 1.5em;
}
.subtitle(){
	color: @color-title;
	font-weight: bold;
}
.tags(){
	color: @color-title;
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.profileImg(){
	display: inline-block;
	height: 40px;
	width: 40px;
	.bgImgContain();
	.border-radius(99%);
	border: 3px solid #fff;
}
.button(){
	background-color: @color-main;
	color: #fff;
	text-transform: uppercase;
	padding: .25em 1.5em;
	border: 0;
	.border-radius(0);
}
.button-hover(){
	background-color: lighten(@color-main, 15%);
}
.input-focus(){
	border-color: @color-main;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 174, 66, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 174, 66, .6);
}
.input-style(){
	border: 1px solid #ccc;
	background-color: @color-grey;
	display: block;
	width: 100%;
	padding: .25em 1em !important;
	color: @color-text;
}
.magicSuggest-style(){
	padding-left: 2.75em;
	background-color: @color-grey;
	.border-radius(0);
	margin-bottom: 1em;

	input{
		background-color: @color-grey;
	}
	.ms-trigger{
		border-color: #b2b2b2;
	}
	.ms-sel-item{
		background-color: @color-main;
		color: #fff;
		border: none;
		.border-radius(0);
		padding: .25em .5em;
		//font-weight: 600;
		font-size: 1em;

		.ms-close-btn{
			background-image: url('../img/icons/close.png');
			.bgImgContain();
		}
	}
	&.ms-ctn-focus {
		.input-focus();
	}
}
.pencil-style(){
	position: absolute;
	z-index: 1;
	right: 0;
	top: .5em;
	color: lighten(@color-main-editor, 3%);

	&:hover{
		cursor: pointer;
	}
	&.fa-check{
		right: 1.25em;
	}
	&.fa-close{
		right: 0.25em;
	}
}
.iconbar(){
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2.5em;
	background-color: #fff;
	display: none;

	.icon{
		width: 2.5em;
		height: 2.5em;
		.bgImgContain();
		margin-bottom: 1em;
		position: relative;
		cursor: pointer;
		background-color: #fff;

		&:hover{
			background-color: @color-main;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}

	.icon-gem{
		background-image: url('../img/icons/gem.png');
	}
	.icon-plane{
		background-image: url('../img/icons/plane.png');

		&:hover{
			.icons-social{
				display: block;
			}
		}
		.icons-social{
			position: absolute;
			left: 2.5em;
			width: 144px;
			border: 2px solid #fff;
			display: none;
			margin-top: -2px;

			.social-icon{
				float: left;
				width: 2.5em;
				height: 2.5em;
				.bgImgContain();

				&:hover{
					cursor: pointer;
				}
			}
			.icon-facebook{
				background-image: url('../img/icons/facebook.png');
				background-color: @facebook;

				&:hover{
					background-color: lighten(@facebook, 15%);
				}
			}
			.icon-twitter{
				background-image: url('../img/icons/twitter.png');
				background-color: @twitter;

				&:hover{
					background-color: lighten(@twitter, 15%);
				}
			}
			.icon-pinterest{
				background-image: url('../img/icons/pinterest.png');
				background-color: @pinterest;

				&:hover{
					background-color: lighten(@pinterest, 15%);
				}
			}
			.icon-google{
				background-image: url('../img/icons/google_plus.png');
				background-color: @googleplus;

				&:hover{
					background-color: lighten(@googleplus, 15%);
				}
			}
		}
	}
	.icon-book{
		background-image: url('../img/icons/book.png');
	}
	.icon-cloud{
		background-image: url('../img/icons/cloud.png');
	}
	.icon-arrow{
		background-image: url('../img/icons/arrow.png');
	}
}
/* ------------------------------------ PAGE STYLE */
html,
body{
	height: 100%;
	padding: 0;
	margin: 0;
}
html{
	width: 100%;
	height: 100vh;

}
body{
	font-family: 'Work Sans', sans-serif;
	color: @color-text;
	width: 100%;
	background-color: #000;
	background-image: url('../img/back.png');
	background-attachment: fixed;
	.bgImgCover();

	display: table;

	*{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;

		position: relative;

		word-wrap: break-word;
	}
	a{
		color: @color-title;

		&:hover,
		&:active,
		&.active{
			color: @color-main !important;
			text-decoration: none;
		}
		&:visited{
			color: @color-title;
		}
	}
	h1,h2,h3,h4,h5,h6{
		color: #fff;
		font-weight: bold;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;

		li{
			display: inline-block;
		}
	}
	.form-control:focus{
		.input-focus();
	}
	#left{
		display: table-cell;
		height: 100%;
		width: @sidebarWidth;
		position: relative;
		vertical-align: top;

		#logo{
			height: @sidebarWidth/3;
			background: url('../img/logo_lg_col.png');
			.bgImgContain();

		}

		#panel{
			background-color: fade(#fff, 40%);
			padding: 1em;

			.block{
				background-color: #fff;
				padding: 1em;
				margin-bottom: 2em;
				margin-left: -1em;
				margin-right: -1em;
			}

			#topnavi{
				text-align: center;
				margin-bottom: 1em;
				padding: 1em;

				li{
					display: inline-block;
					width: 49%;

					a{
						display: block;
						padding: .25em .5em;
						text-transform: capitalize;
						font-weight: 600;
						color: #fff;

						&.login{
							text-transform: uppercase;
							background-color: @color-main;
							&:hover{
								color: @color-main;
								background-color: #fff;
							}
						}
					}
				}
				#profile{
					text-align: left;

					#profileImage{
						.profileImg();
					}
					#profileRight{
						display: inline-block;
						vertical-align: top;
						color: #fff;

						#profileName{
							font-weight: 600;
						}
						#profileLinks{
							a{
								color: #fff;
							}
						}
					}
				}
			}
			#navi{

				a{
					color: @color-text;
					font-weight: 500;
					text-transform: uppercase;
					padding: .25em .5em;

					&.active{
						font-weight: bold;
					}
				}

				#filter{
					text-align: right;
					border-bottom: 1px solid @color-text;
					padding-bottom: .25em;
					margin-bottom: .75em;
				}
				#navigation{
					li{
						vertical-align: top;

						a{
							padding: .25em .25em;
							display: block;

							&.home{
								span{
									display: block;
									width: 20px;
									height: 20px;
									background-image: url('../img/diceeye_black.png');
									.bgImgContain();
								}
							}
						}
					}
				}
			}
			#searchbox{
				padding: 2em 1em;

				#searchfield{
					position: relative;

					#searchInput{
						.magicSuggest-style();
					}
					i{
						position: absolute;
						top: 5px;
						left: 7px;
						color: #8a8a8a;
						font-size: 1.5em;
					}
				}
				#keylist{
					a{
						.tags();
					}
				}
			}
			#breadcrumb{

				li{
					text-transform: uppercase;
					text-align: right;

					&.current{
						font-weight: bold;
						color: @color-main;
					}
					a{
						color: @color-text;
						font-weight: 500;
					}
					i{
						font-size: .75em;
					}
				}
			}
			#footernavi{
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 1em;

				li{
					a{
						color: #fff;
						padding: 0 .25em;
						.text-shadow(0px 0px 3px rgba(0, 0, 0, 1));
					}
				}
			}
			#copyright,
			#info{
				color: #fff;
				.text-shadow(0px 0px 3px rgba(0, 0, 0, 1));
				text-align: right;
				font-size: .9em;
			}
			#infolinks{
				font-size: .84em;
				color: #fff;

				a{
					color: #fff;
					padding: 0 .25em;
					text-decoration: underline;
					.text-shadow(0px 0px 3px rgba(0, 0, 0, 1));
				}
			}
		}
	}
	#main{
		display: table-cell;

		padding: 2em 4em;
		color: @color-text;

		#mainInner{

			&.content{
				background-color: #fff;
				padding: 1em;
			}
			.addWrapper{
				.add{
					color: #fff;
					text-align: center;
					border: 2px dashed #fff;
					margin-bottom: 2em;
					height: 276px;
					padding-top: 5em;
					background: none;
					background-color: rgba(255,255,255, .25);

					&:last-child{
						margin: 0;
					}
					&:hover{
						cursor: pointer;
						background-color: fade(@color-main, 25%);
						border-color: @color-main;
						color: @color-main;
					}
					.addIcon{
						font-size: 7em;
						line-height: 0;
					}
					.addText{
						font-size: 1.5em;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}

			.brick{
				width: @brickWidth;
				padding: .5em;

				.brickInner{
					background-color: #fff;
					border: .3em solid #fff;
					position: relative;
					box-shadow: 0px 0px 10px 1px #000;

					&:hover{
						border-color: @color-main;
						.iconbar{
							display: block;
						}
					}

					.mapSetBack{
						border-bottom: 1px solid @color-grey;
						a{
							color: darken(@color-grey, 30%);
							display: block;
							padding: .5em;

							i{
								margin-right: .5em;
							}
						}
					}
					.mapSetThumb{
						height: 7.5em;
						background-color: @color-grey;
					}
					.mapSetThumb{
						.bgImgCover();

						&.thumb-sm{
							display: inline-block;
							width: 49.2%;

							&.first{
								margin-right: 1.5%;
							}
						}
					}
					.mapSetInfo{
						padding-left: 1.5em;
						padding-top: .125em;

						span{
							font-weight: 800;
							display: block;
						}

						&.thumb-xlg{
							padding:  .5em 2.5em;
							text-align: center;
						}
						&.thumb-lg{
							padding: 1em 2.5em;
						}
						&.thumb-sm{
							display: inline-block;
							height: 7.5em;
							width: 49%;
							vertical-align: top;
						}
						a{
							color: @color-title;
							font-weight: 800;
							display: block;
							margin-top: .25em;
						}
					}
					.mapSetName{
						padding: 1em 2.5em;
						text-align: center;

						a,
						span{
							.title();
							margin-bottom: .75em;
						}
						input{
							.title();
							border: 0;
							border-bottom: 1px solid @color-grey;
							width: 100%;
						}
						i{
							.pencil-style();
							right: 1em;
							top: 1.5em;
						}
					}
					.mapSetMove{
						.border-radius(0);
						padding: .75em .25em;
						border-top: 1px solid @color-grey;
						border-bottom: 1px solid @color-grey;

						select{
							border: 1px solid #ccc;
							background-color: @color-grey;
							display: block;
							width: 100%;
							padding: .25em;

							&:focus{
								.input-focus();
							}
						}
					}
					.mapLaunchEdit{
						display: block;
						padding: .75em .5em;
						border-top: 1px solid @color-grey;

						span{
							a{
								color: @color-text;
								font-weight: 500;
							}
						}
					}
					.mapSetActions{
						padding: .75em .5em;

						div{
							vertical-align: middle;

							span{
								vertical-align: text-bottom;
							}
							i{
								font-size: 1.25em;
							}
						}

						.mapSetPublic{
							padding: .25em .5em;
							color: #fff;
							background-color: lighten(@color-main-editor, 3%);
							//.border-radius(5px);
							text-transform: uppercase;
							font-weight: 500;

							&.active{
								background-color: @color-main;
							}
							&:hover{
								cursor: pointer;
							}
							i{
								vertical-align: text-top;
							}
						}
						.mapSetDelete{
							padding: .25em 0;
							color: lighten(@color-main-editor, 3%);
							font-weight: 500;

							&:hover{
								cursor: pointer;
							}
							span{
								margin-right: .5em;
								text-transform: uppercase;
							}
						}
					}

					.iconbar{
						.iconbar();
					}

					.mapImg{
						width: 100%;
						.bgImgContain();
					}
					.owner{
						text-align: right;
						padding: .25em;

						.ownerName{
							display: inline-block;
							vertical-align: top;
							font-size: .8em;
							font-weight: 500;
							color: #666;
						}
						.ownerImg{
							.profileImg();
							margin-top: -20px;
						}
					}
					.mapDescription{
						padding: .5em 3.5em 1em;

						.mapTitle{
							a{
								.title();
								margin-bottom: .75em;
							}
							input{
								.title();
								border: 0;
								border-bottom: 1px solid @color-grey;
								width: 100%;
							}
							i{
								.pencil-style();
								right: -1.5em;
								top: .5em;
								&.fa-check{
									right: -1.5em;
								}
								&.fa-close{
									right: -2.5em;
								}
							}
						}
					}
					.mapText{
						margin-bottom: 1.5em;
					}
					.mapTags{
						margin-bottom: 1em;

						a{
							.tags();
						}
					}
					.mapInfo{
						color: #666;
					}
				}
			}
		}
	}
	#mapDetails{
		.modal-content{
			.border-radius(0);

			.modal-header{
				 padding-bottom: .5em;
				 padding-top: .75em;
				 border-bottom: 1px solid @color-grey;
				 margin-bottom: .5em;

				.mapDetailName{
					display: inline-block;
					width: 46%;
					.title();

					&.pr{
						padding-right: 2em;
					}
					input{
						.title();
						font-size: 1em;
						border: 0;
						border-bottom: 1px solid @color-grey;
						width: 100%;
					}
					i{
						.pencil-style();
						top: 5px;
						right: 0;
						font-size: .7em;
					}
				}
				.mapDetailOwner{
						width: 46%;
						display: inline-block;
						text-align: right;
						vertical-align: bottom;

					.mapDetailOwnerName{
						display: inline-block;
						font-size: .8em;
						vertical-align: super;
					}
					.mapDetailOwnerImage{
						display: inline-block;
						height: 40px;
						width: 40px;
						.bgImgContain();
						.border-radius(99%);
						border: 3px solid #fff;
					}
				}
			}
			.modal-body{
				padding: 0;

				.iconbar{
					.iconbar();
					display: block;
					background: none;
				}

				.mapDetailImage{
					width: 100%;
					height: auto;
					min-height: 217px;

					.mapDetailImageInner{
						width: 100%;
						.bgImgContain();
					}
				}
				.mapDetailDescription{
					display: table;

					.mapDetailsDescriptionLeft{
						display: table-cell;
						width: 35%;

						& > div{
							background-color: #e9e9e9;
							background-color: lighten(@color-main-editor, 25%);
							padding: .75em;
						}

						.mapDetailsDescriptionLeftTop{
							margin-bottom: 1em;

							select{
								.input-style();
								background-color: #fff;
								padding-left: .25em !important;
							}

							.mapLaunchEdit{
								border-top: 1px solid #fff;
								padding-top: .75em;
								padding-bottom: .75em;

								a{
									color: @color-text;
									font-weight: 500;
								}
							}
							.mapDetailMove{
								padding-top: .75em;
								padding-bottom: .75em;
								border-top: 1px solid #fff;
								border-bottom: 1px solid #fff;
							}
							.mapDetailActions{
								padding: .75em 0;
								padding-bottom: 0;

								.mapDetailPublic{
									padding: .25em .5em;
									color: #fff;
									background-color: lighten(@color-main-editor, 3%);
									//.border-radius(5px);
									text-transform: uppercase;
									font-weight: 500;

									&.active{
										background-color: @color-main;
									}
									&:hover{
										cursor: pointer;
									}
									i{
										vertical-align: text-top;
										font-size: 1.25em;
									}
								}
								.mapDetailDelete{
									padding: .25em 0;
									color: @color-main-editor;
									font-weight: 500;

									&:hover{
										cursor: pointer;
									}
									span{
										margin-right: .5em;
										text-transform: uppercase;
									}
								}
							}
						}
						.mapDetailsDescriptionLeftBottom{
							& > div{
								padding-top: .5em;
								margin-top: .5em;
								border-top: 1px solid #fff;

								& > i{
									.pencil-style();
								}
							}
							.pr{
								padding-right: 1em;
							}
							textarea,
							#tagsInput{
								margin-top: 1.5em;
							}
							#tagsInput{
								.magicSuggest-style();
								padding-left: 12px;
							}
							.mapDetailsDescriptionTags{
								margin-top: 1em;
								a{
									.tags();
								}
							}
						}
					}
					.mapDetailsDescriptionRight{
						display: table-cell;
						width: 65%;
						vertical-align: top;
						background-image: url('../img/notes_bg.png');
						.bgImgCover();
						font-family: 'Libre Baskerville';
						
						.mapDetailsDescriptionDMNotes{
							padding: 1em;
							
								
							.dmn_room_head{
								.subtitle();
								margin-top: 1em;
								border-bottom: 2px solid @color-main;
								margin-bottom: 1em;
								
								&:hover{
									cursor: pointer;
								}
								.dmn_room_nr{
									margin-right: .5em;
								}
							}
							.dmn_room_content{
								display: none;
								
								& > div{
									margin-top: 1em;
									margin-bottom: 1em;
								}
								.dmn_quote{
									background-color: @color-quote;
									padding: 1em;
									box-shadow: 0px 0px 10px 3px #666;
									font-style: italic;
									margin-top: 1.5em;
									margin-bottom: 1.5em;
									
									&:before{
										content: "";
										display: block;
										width: auto;
										height: 10px;
										background-image: url('../img/quote_top.png');
										.bgImgContain();
										position: absolute;
										top: -7px;
										left: 0;
										right: 0;
									}
									&:after{
										content: "";
										display: block;
										width: auto;
										height: 10px;
										background-image: url('../img/quote_bottom.png');
										.bgImgContain();
										position: absolute;
										bottom: -7px;
										left: 0;
										right: 0;
									}
								}
								.underlay{
									background-color: fade(#666, 30%);
									padding: 1em;
									padding-left: 2em;
									margin: 0;
									margin-left: -1em;
									
									.icon{
										width: @icon-size;
										height: @icon-size;
										display: inline-block;
										position: absolute;
										.bgImgContain();
									}
									.dmn_descr{
										padding-left: @icon-size*1.5;
										font-style: italic;
									}
									.icon-room{
										background-image: url('../img/icons/rooms_notes.png');
									}
									.icon-props{
										background-image: url('../img/icons/props_notes.png');
									}
									.icon-doors{
										background-image: url('../img/icons/doors_notes.png');
									}
									.icon-traps{
										background-image: url('../img/icons/traps_notes.png');
									}
								}
								.dmn_room_images{
									.dmn_room_img{
										margin-bottom: .5em;
										
										.dmn_img_wrapper{
											padding: .125em;
											border: 1px dashed #333;
											
											img{
												width: 100%;
												border: 1px solid #333;
											}
										}
										.dmn_img_name{
											font-style: italic;
											text-align: center;
										}
									}
								}
								.dmn_room_additional{
									.dmn_subtitle{
										.subtitle();
										margin-bottom: .5em;
									}
									.table-striped > tbody > tr:nth-of-type(2n+1) {
										background-color: fade(#2eaf96, 25%);
										border: none;
									}
									.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
										padding: .25em;
										vertical-align: top;
										border-top: none;
									}
								}
							}
						}
					}
					.mapDetailsOverlayBG{
						background-color: rgbs(0,0,0,.2);
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
					.mapDetailsOverlay{
						display: table;
						background-color: @color-main;
						padding: 1em 2em;
						width: 100%;
						position: absolute;
						left: 0;
						right: 0;

						.mapDetailsOverlayLeft{
							display: table-cell;
							width: 50%;
							text-align: center;
							vertical-align: top;

							.mapDetailsOverlayInfo{
								text-transform: uppercase;
								color: #fff;
								font-weight: bold;
								font-size: 1.25em;
								margin-bottom: .5em;
							}
							.mapDetailsOverlayButton{
								a{
									display: block;
									border: 1px solid #394e51;
									color: #fff;
									.gradient(#394e51, #64af81);
									.border-radius(5px);
									padding: .75em 1em;
									font-weight: bold;
									font-size: 1.25em;

									&:hover{
										.gradient(#64af81, #394e51);
									}
								}
							}
						}
						.mapDetailsOverlayRight{
							display: table-cell;
							width: 50%;
							vertical-align: top;

							.mapDetailsOverlayText{
								padding-left: 1em;
								color: #fff;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
	#createFolder{
		.modal-content{
			.border-radius(0);

			.modal-body{

				input{
					.input-style();

					&:focus{
						.input-focus();
					}
				}
				& > button{
					.button();
					margin-top: .5em;

					&:hover{
						.button-hover();
					}
				}
			}
		}
	}
	#createMap{
		.modal-content{
			.border-radius(0);

			.modal-body{

				input,
				select{
					.input-style();

					&:focus{
						.input-focus();
					}
				}

				.modalMapProperties{
					display: table;
					width: 100%;

					input,
					select{
						display: inline-block;
						width: 70%;
					}
					input{
						margin-left: .5em;
						text-align: center;
					}
					select{
						padding: .25em !important;
					}
					& > div{
						display: table-row;
						width: 100%;

						& > div{
							display: table-cell;
							width: 33%;
							padding-top: 1em;
						}
					}
					.modalMapPropertiesWidth,
					.modalMapPropertiesHeight{
						text-align: right;
					}
				}

				& > button{
					.button();
					margin-top: .5em;

					&:hover{
						.button-hover();
					}
				}
			}
		}
	}
	/* responsive */
	@media screen and (min-width: 501px) and (max-width: 1024px) {
	}
	@media screen and (max-width: 800px) {
	}
	@media screen and (max-width: 500px) {

	}
}
